html,
body {
	height: 100%;
	width: 100%;
}

body {
	background-color: rgb(82, 86, 89);
	font-family: -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,
		"Helvetica Neue",Arial,sans-serif;
}

/* Override combobox styles */
.input-group-addon {
	background-color: #fff;
	border-left: none;
	font-size: 10px;
}

iframe {
	border: none;
	height: 100%;
	height: calc(100% - 51px);
	position: absolute;
	top: 51px;
	width: 100%;
}

.vertical-align-container {
	align-items: center;
	display: flex;
	height: 100%;
	justify-content: center;
}

.jumbotron {
	background: none;
	color: #fff;
	text-align: center;
}
