:root {
  font-size: 16px;

  --background-color: #f5f5f5;
  --panel-background-color: #fff;

  --border-color: #ccc;
  --border: 1px solid var(--border-color);
  --header-shadow-color: rgba(0,0,0,.2);

  --text-color: rgba(0,0,0,.87);
  --text-size-huge: 1.5rem;
  --text-size-big: 1.25rem;
  --text-size: .875rem;
  --text-size-small: .75rem;
  --font-weight-medium: 600;
  --font-weight-bold: bold;

  --primary-color: hsl(260, 100%, 40%);
  --primary-border: 1px solid var(--primary-color);
  --button-text-color: #fff;
  --focus-outline: 0 0 0 .25rem hsla(260, 100%, 40%, .4);
  --header-button-hover: rgba(0,0,0,.1);
  --done-color: #06c814;
  --search-box-background-color: #ddd;

  --border-radius: .5rem;
  --button-height: 2rem;
  --header-height: 2.5rem;

  --animation-duration: .2s;

}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  min-height: 11.5rem;
  min-width: 20rem;

  background-color: var(--background-color);
  color: var(--text-color);

  overflow: hidden;
}

body,
input,
button {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
  Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

  font-size: var(--text-size);
}

* {
  box-sizing: border-box;
}

#root {
  height: 100%;

  display: flex;
  flex-direction: column;
}

.svg-inline--fa {
  margin-right: .4rem;
}

.center-container {
  width: 100%;
  height: 100%;

  display: flex;
  align-items: center;
  justify-content: center;
}

@keyframes fade-in {
  from { opacity: 0; }
  to { opacity: 1; }
}
@keyframes slide-in {
  from { transform: translateX(-100%); }
  to { transform: translateX(0); }
}
