.downloadView {
  padding: 1rem;

  flex: 1.5;

  border-right: none;
}

.linkContainer {
  margin-top: 2rem;

  display: flex;
}
.linkContainer>.fa {
  margin-right: .7rem;

  color: rgba(0,0,0,.87);

  line-height: 2rem;
}
.linkContainer input {
  height: 2rem;
  min-width: 0;
  padding: .5rem 0 .5rem .75rem;
  margin: 0;

  border-radius: .5rem 0 0 .5rem;
  border: 1px solid rgba(0,0,0,.25);
  border-right-width: 0;
  -webkit-appearance: none;

  flex: 1;

  font-size: .875rem;
  line-height: 1rem;
}
.linkContainer button {
  height: 2rem;
  margin: 0;

  border-radius: 0 .5rem .5rem 0;
}
