.download-view {
  padding: 4.5rem 1rem;

  flex: 1.5 0 12.5rem;

  display: flex;
  flex-direction: column;

  -webkit-overflow-scrolling: touch;
  overflow-x: hidden;
  overflow-y: auto;

  border-right: none;
}

.download-view h1 {
  margin: 0 0 2rem;

  flex: 1;

  font-weight: var(--font-weight-medium);
  font-size: var(--text-size-huge);
  text-align: center;

  cursor: default;
}
.download-view h1 .svg-inline--fa {
  margin: 0 auto .5rem;
  display: block;

  font-size: 2rem;
}

.controls-container {
  margin-bottom: 2rem;

  flex: 1;
}

.link-container {
  margin-top: 2rem;

  position: relative;
}
.link-container>.svg-inline--fa {
  box-sizing: content-box;
  margin: 0 0 0 .5rem;
  padding: .55rem 0;

  position: absolute;
  top: 0;
  left: 0;

  opacity: .8;
}
.link-container input {
  height: 2rem;
  width: 100%;
  padding: 0 0 0 1.5rem;
  margin: 0 0 .5rem;

  background-color: var(--panel-background-color);
  border-radius: var(--border-radius);
  border: var(--border);
  -webkit-appearance: none;
  -webkit-tap-highlight-color: rgba(0,0,0,0);

  transition: background-color var(--animation-duration),
    box-shadow var(--animation-duration),
    border-color var(--animation-duration);

  font-size: var(--text-size);
  color: var(--text-color);
  line-height: 2rem;
}
.link-container input:active {
  transition: background-color 0s, box-shadow 0s, border-color 0s;
}
.link-container input:focus {
  border-color: var(--primary-color);
  box-shadow: var(--focus-outline);
  outline: none;
}
.link-container .button {
  width: 100%;
  margin: 0 0 .5rem 0;
}

@media (min-width: 80rem) {
  .link-container {
    display: flex;
    flex-wrap: wrap;
  }
  .link-container .button {
    margin: 0;
    flex: 1;
  }
  .link-container button.button {
    margin: 0 .5rem 0 0;
  }
}
