header {
  height: 2.5rem;

  display: flex;
  align-items: center;
  z-index: 999;
  position: relative;

  flex: none;

  background-color: #f5f5f5;
  border-bottom: 1px solid rgba(0,0,0,.2);
  box-shadow: 0 2px 8px rgba(0,0,0,.2);
  box-sizing: content-box;

  line-height: 1rem;

  user-select: none;
}

header > .item {
  padding: 0 1rem;

  display: flex;
  align-items: center;

  animation: fadeIn .2s ease;
}
@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

header > img {
  width: 1rem;
  height: 1rem;

  box-sizing: content-box;
}

header > .item.headerTitle {
  border-left: 1px solid rgba(0,0,0,.25);
  font-weight: 600;
  flex-grow: 1;
}
header > .item.headerTitle .svg-inline--fa {
  min-width: 1.35rem;
  min-height: 1rem;
}

header > .button {
  height: 100%;

  border-radius: 0;

  color: rgba(0,0,0,.87);
  border: none;

  line-height: 1rem;
}
header > .button:hover {
  background-color: rgba(0,0,0,.1);
}
header > .button .svg-inline--fa {
  vertical-align: sub;
}

@media (max-width: 25rem) {
  header > .button .svg-inline--fa {
    margin-right: 0;
  }
  header > .button .text {
    display: none;
  }
}
