header {
  height: 2.5rem;

  display: flex;
  align-items: center;
  z-index: 999;
  position: relative;

  background-color: #fff;
  box-shadow: 0 1px 4px rgba(0,0,0,.25);

  font-size: .875rem;
  line-height: 1.25rem;

  user-select: none;
}

header > .item {
  padding: 0 1rem;
  box-sizing: content-box;
}

header > .item.title {
  border-left: 1px solid rgba(0,0,0,.25);
  font-weight: bold;
  flex-grow: 1;
}

header > .button {
  height: 100%;

  border-radius: 0;

  color: rgba(0,0,0,.87);
  border: none;

  font-weight: normal;
  line-height: 2.5rem;
}
header > .button:hover {
  background-color: rgba(0,0,0,.1);
}
