.button {
  padding: 0 1rem;
  border-radius: .5rem;
  box-sizing: border-box;

  border: 1px solid #6435c9;
  background-color: transparent;
  color: #6435c9;

  transition: background-color .2s, opacity .2s, box-shadow .2s;

  font-size: .875rem;
  font-weight: 600;
  line-height: 1.875rem;
  text-decoration: none;
  text-align: center;
  user-select: none;

  cursor: pointer;
}
.button:hover {
  background-color: rgba(100,53,201,.1);
}
.button:active {
  transition: none;
  opacity: .5;
}
.button:focus {
  box-shadow: 0 0 .25rem .125rem #6435c9;
  outline: none;
}

.button .svg-inline--fa {
  min-width: 1rem;
  min-height: 1rem;
}

.button.primary {
  padding: .75rem 1.25rem;
  width: 100%;
  display: block;

  background-color: hsl(260, 100%, 40%);
  border-color: hsl(260, 100%, 40%);
  color: #fff;
  border-radius: .625rem;

  font-size: 1.25rem;
  line-height: 1.2;
}
.button.primary:hover {
  background-color: #5829bb;
}
.button.primary:focus {
  box-shadow: 0 0 1px 1px #fff,
    0 0 .375rem .25rem #6435c9;
}
.button.primary .svg-inline--fa {
  margin-right: .625rem;
}
