li {
  min-height: 2.25rem;
  padding: .6rem .75rem .6rem 1rem;

  display: flex;
  align-items: center;
  position: relative;

  background-color: #fff;

  font-size: .875rem;
  line-height: 1rem;

  cursor: pointer;
}

li .listItemText {
  flex-grow: 1;
}

li .fa {
  margin: 0 0 0 1rem;

  font-size: .75rem;
  opacity: .36;
}

li:not(:last-of-type)::after {
  height: 1px;
  width: 100%;

  display: block;
  position: absolute;
  bottom: 0;

  background-color: rgba(0,0,0,.1);

  content: '';
}
li:last-of-type {
  border-bottom: 1px solid rgba(0,0,0,.1);
}

li.active {
  background-color: #6435c9;
  color: #fff;
}
