li {
  min-height: 2.25rem;
  padding: .6rem .75rem .6rem 1rem;

  display: flex;
  align-items: center;
  position: relative;

  -webkit-tap-highlight-color: rgba(0,0,0,0);

  line-height: 1rem;

  cursor: pointer;
}
li:hover,
li.focused {
  background-color: var(--header-button-hover);
}

li .list-item-text {
  flex-grow: 1;

  z-index: 9;
}

li.active {
  background-color: var(--primary-color);
  color: var(--button-text-color);
}
