.loadingIndicatorFlexContainer {
  width: 100%;
  height: 100%;

  display: flex;
  align-items: center;
  justify-content: center;

  user-select: none;
}

.loadingIndicatorContainer {
  width: 15rem;

  display: flex;
  flex-wrap: wrap;

  transition: opacity .2s;
  animation: fadeIn .2s ease 1s both;
}

.text {
  font-weight: 500;
}
.left.text {
  flex: 1;
}

#progressContainer {
  width: 15rem;
  height: .5rem;

  margin-top: .5rem;

  border-radius: 50em;
  background-color: #ccc;
}

#progressBar {
  height: 100%;

  border-radius: 50em;
  background-color: #6435c9;

  transition: width .2s, background-color .2s;
}
#progressBar.done {
  background-color: #06c814;
}

@keyframes progressBarAnim {
  0% {
    opacity: 0;
    transform: scaleX(0);
  }
  50% {
    opacity: 1;
    transform: scaleX(1);
  }
  100% {
    opacity: 0;
  }
}
#progressBar::before {
  width: 100%;
  height: 100%;

  display: block;

  background: linear-gradient(
    to right, rgba(255,255,255,0), rgba(255,255,255,.5));
  border-radius: 50em;
  transition: opacity 1s;
  transform-origin: 0 50%;
  animation: progressBarAnim 2s ease infinite;

  content: '';
}
#progressBar.done::before {
  animation: none;
  opacity: 0;
}
