.search-box-container {
  position: relative;

  flex: none;

  background-color: var(--background-color);
}

.search-box {
  width: calc(100% - 1rem);
  height: var(--button-height);
  margin: 0 .5rem .5rem;
  padding: 0 0 0 1.75rem;

  background-color: var(--search-box-background-color);
  border: var(--border);
  border-radius: var(--border-radius);
  -webkit-appearance: none;
  -webkit-tap-highlight-color: rgba(0,0,0,0);

  transition: background-color var(--animation-duration),
    box-shadow var(--animation-duration);

  font-size: var(--text-size);
  line-height: var(--button-height);
  color: var(--text-color);
}
.search-box:active {
  transition: background-color 0s, box-shadow 0s;
}
.search-box:focus {
  background-color: var(--panel-background-color);
  border: var(--primary-border);
  box-shadow: var(--focus-outline);
  outline: none;
}

.search-box+.fa-search {
  width: 1rem;
  height: 1rem;
  box-sizing: content-box;
  margin: 0 0 0 .25rem;
  padding: .5rem .75rem;

  position: absolute;
  top: 0;
  left: 0;

  opacity: .5;
}
