/*------------------------------------------------------------------------------
iframe.css
------------------------------------------------------------------------------*/

iframe {
	background-color: #fff;
	border: none;
	height: 100%;
	height: calc(100% - 40px);
	left: 0;
	position: absolute;
	top: 40px;
	transition: opacity .2s, width .5s;
	width: 100%;
}

/* Left iframe */
#iframe {
	z-index: 199;
}
