dialog {
  background-color: var(--panel-background-color);
  border-radius: calc(var(--border-radius) * 2);
  border: none;
  box-shadow: var(--dialog-shadow);

  color: var(--text-color);
  padding: 1.5rem;
  width: 18rem;

  font-size: var(--text-size-small);
  text-align: center;

  transform-origin: 100% 0%;
}

dialog[open] {
  animation: dialog-zoom-in var(--animation-duration) var(--animation-easing);
}
dialog.hide {
  animation-name: dialog-zoom-out;
}
@keyframes dialog-zoom-in {
  from {
    transform: scale(0.8);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}
@keyframes dialog-zoom-out {
  to {
    transform: scale(0.8);
    opacity: 0;
  }
}

dialog[open]::backdrop {
  animation: backdrop-show 0.2s cubic-bezier(0.85, 0, 0, 1);
}
dialog.hide::backdrop {
  animation-name: backdrop-hide;
}
@keyframes backdrop-show {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes backdrop-hide {
  to {
    opacity: 0;
  }
}

dialog h2 {
  margin-top: 0;
  margin-bottom: 0.5rem;
  font-size: var(--text-size-large);
}

dialog button.close {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;

  aspect-ratio: 1;
  padding: 0;
  border-radius: 50%;
}
dialog button.close svg {
  margin: 0;
}

dialog .button-row {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;

  margin: 0 auto;
  width: 75%;
}

dialog p:last-child {
  margin-bottom: 0;
}

.copyright-notice {
  text-align: left;

  border-top: 1px solid var(--input-color);
  padding-top: 1.5rem;
  margin-top: 1.5rem;
}
.copyright-notice h3 {
  margin-top: 0;
  font-size: inherit;
}
