#banner {
  display: flex;
  align-items: center;

  background-color: var(--banner-color);
  color: var(--banner-text-color);
  border-radius: calc(var(--border-radius) + 0.5rem);
  min-height: var(--button-height);
  padding-left: 0.5rem;
  padding-right: 0.75rem;

  line-height: 1.33;
}

#banner svg {
  flex-shrink: 0;
  margin-right: 0.25rem;
}

#banner span {
  padding: 0.4rem 0;
}

#banner .spacer {
  min-width: 0.5rem;
  flex-grow: 1;
}

#banner button.close {
  aspect-ratio: 1;
  padding: 0.25rem;
  border-radius: 50%;
  background-color: transparent;
  color: inherit;
}
#banner button.close svg {
  margin: 0;
}
#banner button.close:hover {
  background-color: var(--focus-color);
}
