:root {
  color-scheme: light dark;
  font-size: 16px;

  --background-color: oklch(97% 0.005 285);
  --panel-background-color: oklch(100% 0 285);

  --input-color: oklch(87% 0.015 285 / 50%);
  --input-placeholder-color: oklch(40% 0.015 285);
  --input-caret-color: var(--primary-color);

  --text-color: oklch(20% 0.05 285);
  --underline-color: oklch(20% 0.05 285 / 33%);
  --text-size-huge: 1.5rem;
  --text-size-large: 1.25rem;
  --text-size: 0.875rem;
  --text-size-small: 0.75rem;
  --font-weight-medium: 600;
  --font-weight-bold: bold;

  --primary-color: oklch(45% 0.25 285);
  --primary-border: 0.0625rem solid var(--primary-color);
  --button-text-color: oklch(100% 0 285);

  --focus-color: oklch(80% 0.25 285);
  --focus-width: 0.25rem;
  --focus-box-shadow: 0 0 0 1px var(--primary-color),
    0 0 0 var(--focus-width) var(--focus-color);

  --header-button-hover: oklch(20% 0.1 285 / 5%);
  --list-item-active-color: oklch(92% 0.25 285);
  --list-item-active-text-color: oklch(30% 0.25 285);

  --done-color: #06c814;

  --border-radius: 0.5rem;
  --button-height: 2rem;
  --header-height: 3rem;

  --animation-duration: 0.2s;
  --animation-easing: cubic-bezier(0.85, 0, 0, 1);

  --dialog-shadow: 0 0 0 1px oklch(20% 0.05 285 / 8%),
    0 25px 50px -12px oklch(20% 0.05 285 / 25%),
    0 50px 80px oklch(20% 0.05 285 / 6%);
}
::backdrop {
  background-color: oklch(97% 0.005 285 / 80%);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background-color: #000;
    --panel-background-color: oklch(20% 0.005 285);

    --input-color: oklch(50% 0.015 285 / 50%);
    --input-placeholder-color: oklch(80% 0.015 285);
    --input-caret-color: var(--text-color);

    --text-color: oklch(87% 0.005 285);
    --underline-color: oklch(87% 0.005 285 / 50%);

    --primary-border: 0.0625rem solid oklch(75% 0.25 285);

    --focus-color: oklch(50% 0.1 285);
    --focus-box-shadow: 0 0 0 1px var(--primary-color),
      0 0 0 var(--focus-width) var(--focus-color);

    --header-button-hover: oklch(90% 0.1 285 / 12%);
    --list-item-active-color: oklch(30% 0.1 285);
    --list-item-active-text-color: oklch(100% 0.25 285);

    --dialog-shadow: 0 0 0 1px oklch(0% 0.05 285 / 32%),
      0 25px 50px -12px oklch(0% 0.05 285 / 75%),
      0 50px 80px oklch(0% 0.05 285 / 24%);
  }
  ::backdrop {
    background-color: oklch(0% 0 0 / 80%);
  }
}

@media (pointer: coarse) {
  :root {
    --button-height: calc(44 / 16 * 1rem);
  }
}

@media (pointer: coarse) and (max-width: 600px) {
  :root {
    --text-size: 1rem;
  }
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  min-height: 11.5rem;
  min-width: 20rem;

  background-color: var(--background-color);
  color: var(--text-color);

  -webkit-overflow-scrolling: touch;
  overflow-x: auto;
  overflow-y: hidden;
}

body,
input,
button {
  font-family: system-ui, sans-serif;
  font-size: var(--text-size);
}

* {
  box-sizing: border-box;
}

#root {
  height: 100%;

  display: flex;
  flex-direction: column;
}

svg {
  margin-right: 0.5rem;
}

a {
  color: inherit;
  text-decoration-color: var(--underline-color);
}
a:hover {
  text-decoration-color: currentColor;
}
a:active {
  opacity: 0.5;
}
a:focus {
  outline: none;
  box-shadow: var(--focus-box-shadow);
}

.center-container {
  width: 100%;
  height: 100%;

  display: flex;
  align-items: center;
  justify-content: center;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes slide-in {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}
