.button {
  min-height: var(--button-height);
  padding: 0.25rem 0.75rem;
  border-radius: var(--border-radius);
  box-sizing: border-box;

  border: var(--primary-border);
  background-color: transparent;
  color: var(--primary-color);

  display: flex;
  align-items: center;
  justify-content: center;

  font-size: var(--text-size);
  font-weight: var(--font-weight-medium);
  line-height: 1rem;
  text-decoration: none;
  text-align: center;
  user-select: none;

  transition: opacity var(--animation-duration),
    box-shadow var(--animation-duration);

  cursor: pointer;
}
.button:hover {
  background-color: var(--primary-color);
  color: var(--button-text-color);
}
.button:active {
  background-color: var(--primary-color);
  color: var(--button-text-color);

  transition: none;
  opacity: 0.5;
}
.button:focus {
  box-shadow: var(--focus-box-shadow);
  outline: none;
}

.button svg {
  min-width: 1rem;
  min-height: 1rem;

  margin-left: 0.25em;
  margin-right: 0;
}

.button.primary {
  margin: 0 0 0.5rem;
  padding: 0.75rem 1.25rem;
  width: 100%;

  background-color: var(--primary-color);
  border-color: var(--primary-color);
  color: var(--button-text-color);
  border-radius: calc(var(--border-radius) * 1.25);

  font-size: var(--text-size-large);
  line-height: 1.2;
}
.button.primary:hover {
  opacity: 0.85;
}
.button.primary:active {
  opacity: 0.5;
}
.button.primary svg path {
  stroke-width: 2.5px;
}
