.loading-indicator-flex-container {
  width: 100%;
  height: 100%;

  display: flex;
  align-items: center;
  justify-content: center;

  user-select: none;
}

.loading-indicator-container {
  width: 15rem;

  display: flex;
  flex-wrap: wrap;

  transition: opacity var(--animation-duration);
  animation: fade-in var(--animation-duration) ease 1s both;
}

.text {
  font-weight: var(--font-weight-medium);
}
.left.text {
  flex: 1;
}

#progress-container {
  width: 15rem;
  height: 0.5rem;

  margin-top: 0.5rem;

  border-radius: 50em;
  background-color: var(--border-color);
}

#progress-bar {
  height: 100%;

  border-radius: 50em;
  background-color: var(--primary-color);

  transition: width var(--animation-duration),
    background-color var(--animation-duration);
}
#progress-bar.done {
  background-color: var(--done-color);
}

@keyframes progress-bar-anim {
  0% {
    opacity: 0;
    transform: scaleX(0);
  }
  50% {
    opacity: 1;
    transform: scaleX(1);
  }
  100% {
    opacity: 0;
  }
}
#progress-bar::before {
  width: 100%;
  height: 100%;

  display: block;

  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 0),
    rgba(255, 255, 255, 0.5)
  );
  border-radius: 50em;
  transition: opacity 1s;
  transform-origin: 0 50%;
  animation: progress-bar-anim 2s ease infinite;

  content: "";
}
#progress-bar.done::before {
  animation: none;
  opacity: 0;
}
