.search-box-container {
  flex: none;

  background: linear-gradient(
    to bottom,
    var(--panel-background-color) 1rem,
    transparent 1rem
  );

  position: sticky;
  top: 0;
  z-index: 10;

  padding: 0.5rem;
}

.search-box {
  width: 100%;
  height: var(--button-height);
  padding: 0 0 0 2.25rem;

  background-color: var(--input-color);
  border: none;
  border-radius: var(--border-radius);
  backdrop-filter: blur(1rem);
  -webkit-appearance: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);

  transition: box-shadow var(--animation-duration);

  font-size: var(--text-size);
  line-height: var(--button-height);
  color: var(--text-color);
  caret-color: var(--input-caret-color);
}
.search-box::placeholder {
  opacity: 1;
  color: var(--input-placeholder-color);
}
.search-box:active {
  transition: box-shadow 0s;
}
.search-box:focus {
  box-shadow: var(--focus-box-shadow);
  outline: none;
}

.search-box + svg {
  box-sizing: content-box;
  padding: 0rem 0.5rem;

  position: absolute;
  top: 0;
  left: 0.5rem;
  height: 100%;

  color: var(--input-placeholder-color);

  pointer-events: none;
}
